*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.title_name{
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list_items{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 20px;
}
